.reveal .slide-background {
    width: 100%;
    background-image:
        /* linear-gradient(72deg, rgb(228, 7, 105) 0%, rgb(130, 3, 104) 10%, rgb(60, 1, 104) 20%, rgb(18, 0, 104) 30%, rgb(7, 0, 103) 40%, rgb(7, 0, 103) 50%, rgb(7, 0, 103) 60%, rgb(7, 0, 103) 70%, rgb(7, 0, 103) 80%, rgb(7, 0, 103) 90%, rgb(7, 0, 103) 100%), */
        linear-gradient(72deg, rgb(228, 7, 105) 0%, rgb(130, 3, 104) 10%, rgb(60, 1, 104) 20%, rgb(18, 0, 104) 30%, rgb(7, 0, 103) 40%, rgb(7, 0, 103) 50%, rgb(7, 0, 103) 60%, rgb(7, 0, 103) 70%, rgb(7, 0, 103) 80%, rgb(7, 0, 103) 90%, rgb(7, 0, 103) 100%);
    
    background-position: bottom left/* , top left */;
    background-size: 100% 20px/* , 100% 20px */;
    background-repeat: no-repeat/* , no-repeat */;
}

.figure p {
    font-size: 28px;
}

.figure-number {
    display: none;
}

.header-item {
    width: 100%;
    top: 0;
    font-size: 28px;
    text-align: center;
}

.footer-item {
    position: absolute;
    width: 100%;
    top: 0;
    font-size: 28px;
    text-align: center;
    margin: 930px 0 0 0 !important;
}

input[type="checkbox"] {
    width: 30px;
    height: 30px;
}

#tsparticles {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100% !important;
    height: 100% !important;
}

.gframe_cols {
    display: flex;
    flex-flow: row;
}

.gframe_rows {
    display: flex;
    flex-flow: column;
}

.gframe_2col {
    width: 50%;
}

.gframe_3col {
    width: 33%;
}

.gframe_col_row {
    display: flex;
    flex-grow: auto;
    flex-flow: column;
}

.gframe_row_col {
    display: flex;
    flex-flow: row;
}

.gframe_2row {
    height: 50%;
}
