.all-posts-wrapper

  .back-link
    position: relative
    top: 10px
    margin: 10px 10px

  article
    padding-top: 20px
    max-width: 80ex
    position: relative
    text-align: justify
    margin: 10px auto

    .article-thumb
      text-decoration: none

      .article-meta

        .name

        .date

        .excerpt
          color: $textColor
          text-decoration: none
