<!DOCTYPE html>
<html  lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width,  initial-scale=1">
    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->

    <title> {% if page.tab_title %} {{ page.tab_title }} {% else %} {{ page.title }} {% endif %}</title>

    <meta rel="author" href="{{ site.data.settings.author }}">
    <meta name="description" content="{{ site.data.settings.description }}">
    <link rel="shortcut icon" href="{{ site.github.url }}/favicon.ico">
    <link rel="shortcut icon" type="image/svg+xml"
          href="{{ site.github.url }}{{ site.data.design.imgdir }}{{ site.data.design.logo }}">

    <link rel="stylesheet" href="{{ site.github.url }}/assets/css/main.css">
    {% if page.type =="post" %}
    <link rel="stylesheet" href="{{ site.github.url }}/assets/blog-assets/blog-index.css">
    {% endif %}

    
    <script type="text/x-mathjax-config">
     MathJax.Hub.Config({
         showProcessingMessages: false,
         messageStyle: 'none',
         tex2jax: {
             inlineMath: [['\\(','\\)']],
             displayMath: [['$$','$$'], ["\\[","\\]"]],
             processEnvironments: true
         },
         // show equation numbers
         TeX: {
             equationNumbers: {
                 autoNumber: "AMS"
             }
         },
         'HTML-CSS': {
             imageFont: null
         }
     });
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script src="/assets/js/autosize.min.js" type="text/javascript"></script> -->

    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-MML-AM_CHTML">
    </script>

  </head>

  <body class="{{ page.body }}-{{ page.type }}">

  {{ content }}

  {% if page.url == "/" %}
    <script src="/assets/js/functions.js"></script>
  {% endif %}

  </body>

</html>
